/app
/bootstrap
/config/*
!/config/lazy-options.php
/public/*
!/public/assets
/storage
/tests
/vendor
/.env
/artisan
/composer.lock
/package-lock.json
/node_modules
/phpunit.xml
/vite.config.js
/.editorconfig
/.gitattributes
/.npmrc
/package.json
